<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/create.css">
    
 
</head>

<body>
    <%- include('../../partials/header') %>
    

        <main class="main">
          <h1 class="crear-item">CREAR NUEVO ITEM</h1>

          <% if (typeof errors != 'undefined') { %>
            <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
            </ul>
            <% } %>
  
        <div class="contenedor-div">
            <form 
            action="/admin/productos" 
            method="post"
            enctype="multipart/form-data">
          
              <label class="subtitulos" for=""><strong>Licencia:</strong>
              <select class="selectores" name="licencia" 
                  id="licencia" placeholder="Seleccionar">
                  <% cate.forEach(categories=> {%>
                    

                      <option value="<%=categories.name%>"><%=categories.name%></option>
                     
                      <%}) %>
                  </select>
              </label>        
      </div>
  
      
          <div>
  
              <label class="subtitulos" for=""><strong>Nombre del producto:</strong> 
                <input class="input-sinborde-maslargo" 
                type="text" 
                name="nombre"
                placeholder=""></label>
  
          </div>
          <div>
              <textarea class="textarea" name="descripcion" rows="10" cols="40">Descripción del producto</textarea>
          </div>
          <div class="caracteristicas">
              <!--VER EL TYPE DE INT-->
              <label class="subtitulos" for=""><strong>SKU:</strong> 
                  <input class="input-sinborde-largo" type="text" name="codigo" placeholder=""></label>
              <label class="subtitulos" for=""> <strong>Precio:</strong> 
                  <input class="input-sinborde-largo" type="int" name="precio" placeholder=""></label>
              <label class="subtitulos" for=""><strong>Stock:</strong>
                  <input class="input-sinborde-corto" type="int" name="stock" placeholder="5"></label>
  
          </div>
      <div class="pago-completo">
          <div class="pago">
              <label class="subtitulos" for=""><strong>Descuento:</strong> 
                <input class="input-sinborde-corto" type="int" name="descuento" placeholder="0"></label>
              <label class="subtitulos" for=""><strong>Cuotas:</strong></label>
  
          </div>
          <div>
              <select class="selectores-cuotas" name="cuotas" id="cuotas"
                          placeholder="3 Cuotas sin interés">
                          <option value="">3 Cuotas sin interés</option>
                      </select>
          </div>
      </div>
          <div class="div-imagenes">
              <label class="subtitulos" for="imagenes">Imagenes: 
                <input class="elegir-archivo" type="file" id="imagen" name="imagen" accept="image/*" />
           
              
          </div>
          <div class="botones">
              <button class="boton" type="submit">Agregar producto</button>
              <button class="boton">Limpiar</button>
       </div>
       </form>         
    </div>   
      </main>
   
        <%- include('../../partials/footer') %>
</body>

</html>