<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/create.css">
 
</head>

<body>
    <%- include('../../partials/header') %>
        <main class="main">
          <h1 class="crear-item">CREAR NUEVO ITEM</h1>
            <% if (typeof errors != 'undefined') { %>
            <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
            </ul>
            <% } %>

            <form 
            action="/admin/productos" 
            method="post"
            enctype="multipart/form-data">

         
            </div>
            <div class="contenedor-div">
              <label class="categoria" for="codigo">Codigo 
              <input
                type="text"
                id="codigo"
                name="codigo"
                value="<%= typeof values != 'undefined' ? values.codigo : '' %>"
              />
            </label>
            </div> 
            <div>
              <label class="subtitulos" for="licencia">Licencia: 
              <input
                type="string"
                id="licencia"
                name="licencia"
                value="<%= typeof values != 'undefined' ? values.licencia : '' %>"
              />
            </label>
            </div>
            <div>
              <label class="subtitulos" for="nombre">Nombre: 
              <input
                type="string"
                id="nombre"
                name="nombre"
                value="<%= typeof values != 'undefined' ? values.nombre : '' %>"
              />
            </label>
            </div>
            
              <div>
                <label class="subtitulos" for="descuento">Descuento: 
                <input
                  type="number"
                  id="descuento"
                  name="descuento"
                  value="<%= typeof values != 'undefined' ? values.descuento : '' %>"
                />
              </label>
              </div>
              <div>
                <label class="subtitulos" for="stock">Stock: 
                <input
                  type="number"
                  id="stock"
                  name="stock"
                  value="<%= typeof values != 'undefined' ? values.stock : '' %>"
                />
              </label>
              </div>
             
               </div>
               <div>
                <label class="subtitulos" for="cuotas">Cuotas:
                <input
                  type="number"
                  id="cuotas"
                  name="cuotas"
                  value="<%= typeof values != 'undefined' ? values.cuotas : '' %>"
                />
              </labe>
            </div>
            <div>
              < class="subtitulos" for="precio">Precio:
              <input
                type="number"
                id="precio"
                name="precio"
                value="<%= typeof values != 'undefined' ? values.precio : '' %>"
              />
            </label>
              <div>
                < class="subtitulos" for="imagen">Imagen:
                <input type="file" id="imagen" name="imagen" accept="image/*" />
              </div>
                <button type="submit">Guardar</button>
            </form>



        </main>
        <%- include('../../partials/footer') %>
</body>

</html>