<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/branding/isotype.svg" type="image/x-icon">
    <title>carrito/funkoshop</title>
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="/css/shop2.css">
</head>
<%- include('../partials/header') %>

    <body>


        <main class="shop-container">

            <form class="form-container">
                <div>
                    <p class="search__title">BUSCAR</p>
                    <input class="search__box" name="busqueda" type="text" placeholder="item o categoría" />
                    <p class="search__title">ORDENAR POR </p>

                    <select class="search__box" name="orden" aria-placeholder="Mayor a menor">
                        <option value=""></option>
                        <% cate.forEach(categories=> {%>
                    

                            <option value="<%=categories.name%>"><%=categories.name%></option>
                           
                            <%}) %>
                    </select>

                    <div class="search__precios">
                        <p class="search__title">PRECIO</p>
                        <label class="search__precio">MIN</label>
                        <input class="search__checkbox__title" name="precios" type="number" placeholder="0" />
                        <label class="search__precio">MAX</label>
                        <input class="search__checkbox__title" name="precios" type="number" placeholder="0" />
                    </div>

                    <div>
                        <p class="search__title">FILTRAR</p>
                        <input class="search__checkbox" type="checkbox" name="filter" value="Nuevos">
                        <label class="search__checkbox__title"> NUEVOS</label><br>
                        <input class="search__checkbox" type="checkbox" name="filter" value="Ofertas">
                        <label class="search__checkbox__title"> OFERTAS</label><br>
                        <input class="search__checkbox" type="checkbox" name="filter" value="Edicion Especial">
                        <label class="search__checkbox__title"> EDICIÓN ESPECIAL</label><br>
                        <input class="search__checkbox" type="checkbox" name="filter" value="Favoritos">
                        <label class="search__checkbox__title"> FAVORITOS</label><br>

                    </div>
                </div>

            </form>
            <section class="shop-section">
                <ul class="shop__items">

                    <% productos.forEach(producto=> {%>

                        <li class="shop_item">
                            <article class="shop__item">
                                <a class="shop-item__link" href="/shop/verItem/?id=<%= producto.id %>">
                                    <picture class="shop-item__nuevo">
                                        <span class="shop-item__tag">NUEVO</span>
                                        <img class="shop-item__img--front"
                                            src="/uploads/productos/producto_<%= producto.id %>.jpg"
                                            alt=<%=producto.nombre%> />
                                    </picture>
                                    <div class="shop-item__content">
                                        <h3 class="shop-item__license">
                                            <%=producto.licencia%>
                                        </h3>
                                        <h4 class="shop-item__name">
                                            <%=producto.nombre%>
                                        </h4>
                                        <p class="shop-item__price">
                                            $<%=producto.precio%>
                                        </p>
                                        <p class="shop-item__promo">
                                            <%=producto.cuotas%> cuotas sin interes
                                        </p>
                                    </div>
                                </a>
                            </article>
                        </li>


                        <%}) %>
                </ul>
            </section>
        </main>
        <section id="pagination">
            <!-- pagination elements -->
            <div class="pagination_section">
                <ul>
                    <a href="#"><iconify-icon icon="ep:arrow-left-bold" /></a>
                    <li class="active"><a href="#">1</a></li>
                    <li class="link"><a href="#">2</a></li>
                    <li>...</li>
                    <li class="link"><a href="#">9</a></li>
                    <li class="link"><a href="#">10</a></li>
                    <li class="link"><a href="#"><iconify-icon icon="ep:arrow-right-bold" /></a></li>
                </ul>
            </div>
        </section>
        <%- include('../partials/footer') %>

            <script src="/js/item.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    </body>

</html>