<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="/css/index.css">
    
 
</head>

<body>
    <%- include('../../partials/header') %>
    <form 
    action="/admin/categorias" 
    method="post"
    >

        <main class="main">
          <h1 class="crear-item">CREAR CATEGORIA</h1>

          <% if (typeof errors != 'undefined') { %>
            <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
            </ul>
            <% } %>
  
        <div class="contenedor-div">
       
            <form action="/admin/categorias" method="post">
                <div>
                  <label class="subtitulos" for="name"><strong>Nombre de la licencia </strong>
                  <input class="input-sinborde-maslargo"
                    type="text"
                    id="name"
                    name="name"
                    value="<%= typeof values != 'undefined' ? values.name : '' %>"
                  /></label>
                </div>
                <!-- <div bis_skin_checked="1">
  
                  <label class="subtitulos" for=""><strong>Nombre del producto:</strong> 
                    <input  type="text" name="nombre" placeholder=""></label>
      
              </div> -->
                <div class="botones" bis_skin_checked="1">
                  <button class="boton" type="submit">Agregar categoria</button>
                 
              </div>
              </form>
            </main>
            <%- include('../../partials/footer') %>
          </body>
        </html>
     
   
        
  
       
      
<!--    
          <div class="botones">
              <button class="boton" type="submit">Agregar categorias</button>
              <button class="boton">Limpiar</button>
          </div> -->
               
      <!-- </main>
    </form>
        <%- include('../../partials/footer') %>
</body>

</html> -->