<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categorias</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/product-list.css">
</head>
<body>
    <%- include('../../partials/headerLogout') %>
            <main class="container">
            <form action="" class="form__admin container">
                <img class="form__img" src="/img/icons/search_icon.svg" alt="Lupa">
                <div class="form__search">
                    <input type="search" placeholder="código, nombre o categoria">
                </div>
            </form>
            <div class="admin__contenido">
                <div class="admin__productos">
                    <h1>LISTADO DE CATEGORIAS</h1>
                    <div class="productos__agregar">
                        <a href="/admin/categorias/create"><img class="plus-box" src="/img/icons/mdi_plus-box (1).svg" alt="mas"></a>
                        </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Categoria</th>
                    
                        </tr>
                    </thead>
                    <tbody>
                        <% categorias.forEach(categoria=> {%>
                            <tr>
                                <td>
                                    <%= categoria.id %>
                                </td>
                                <td>
                                    <%= categoria.name %>
                                </td>
                                
    
                    
                                
                            
                                <td>
                                    <form class="form-edit" style="display:inline"
                                        action="/admin/categorias/<%= categoria.id %>/edit" method="put">
                                        <button class="boton" type="submit">Editar</button>
                                    </form>
                                    
                                    <form class="form-delete" style="display:inline"
                                        action="/admin/categorias/<%= categoria.id %>?_method=DELETE" method="post">
                                        <button class="boton" type="submit">Borrar</button>
                                    </form>
                                </td>
                            </tr>
                            <%}) %>

                    </tbody>



                </table>


            </div>
        </main>
        <%- include('../../partials/footer') %>
            <script>
                document.addEventListener("submit", (event) => {
                    if (event.target.classList.contains("form-delete")) {
                        event.preventDefault();



                        if (confirm("Esta seguro?")) {
                            event.target.submit();
                        }
                    }
                });
            </script>
</body>

</html>